body{
    margin: 0;
    border: 0;
    background-image: url(../imagem/WhatsApp\ Image\ 2021-04-05\ at\ 21.06.19.jpeg);
    background-size: 100% 970px;
    background-repeat: no-repeat;
}
.div_banner{
    width: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  background: #fff;
  border-radius: 30%;
  width: 60px;
  height: 60px; 
  float: left;
  bottom: 25px;
  margin-left: 40px;
  top: 30px;
  position: fixed;
  border: 1px solid black;
}
.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;

}
.hamburguer:before,
.hamburguer:after {
  background:rgb(250, 186, 68);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.hamburguer:before {
  top: -10px;
}
.hamburguer:after {
  bottom: -10px;
}
#menu-hamburguer {
  display: none;
}
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}
input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}
.barra{
    background-color: black;
    height: 600px;
    width: 300px;
    margin-top: -230px;
    position: fixed;
    transition: all .2s linear;
    float: left;
    left: -300px;
    border-radius: 30px;
    padding-left: 40px;
}
#menu-hamburguer:checked ~ .barra{
    transform: translateX(300px);
}
/* Subir pagina */

.btn {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(250, 186, 68);
    text-decoration: none;
    padding-top: 17px;
}
.btn::after {
    content: "^";
    font-size: 35px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-10px;
}

/* Fim subir pagina */
.caixa{
    margin-left: 10%;
    margin-left: 10%;
} 
.cabecalho img{
    width: 10%;
    margin-top: -300px;
    margin-right: 5%;
    float:right;
}
 nav{
    margin-left: 10%;
    color: white;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
    padding-top: 25px;
    color: white;
    display: list-item;
    margin: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 
#pag{
    width: 150px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    
}
#pag option{
    color: black;
    border: none;
} 

.caixa #but_login{
    margin-left: 30%;
    margin-top: 1%;
    width: 240px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(250, 186, 68);
    color: white;
}
.caixa #but_login:hover{
    background-color: #fff;
    color: rgb(250, 186, 68);
    transform: scale(1.1);
}
.caixa #but_saiba{
    width: 240px;
    height: 60px; 
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(250, 186, 68);
    border-color: rgb(250, 186, 68);
}
.caixa #but_saiba:hover{
    background-color: rgb(250, 186, 68);
    color: black;
    transform: scale(1.1);
}
.cabecalho #but_login{
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(250, 186, 68);
    border-color:rgb(250, 186, 68);  
    width: 120px;
    height: 40px;
    margin-left: -10%;
}
.caixa #titulo1{
    margin-top: 20%;
    color: rgb(250, 186, 68);
    font-size: 100px; 
    margin-left: 28%;
    text-shadow: 3px 3px black;
}
.caixa #text_tit{
    color: white;
    margin-left: 37%;
    font-size: 30px;
    text-shadow: 2px 2px black;
}
.caixa #text_tit1{
    color: white;
    margin-left:10%;
    font-size: 30px;
    text-shadow: 2px 2px black;
}
.caixa_prin{
    margin-top: 7.5%;
    margin-left: 16%;
    margin-right: 16%;
    background-color: white;
    width: 68%;
    height: 500px;
    position: absolute;
    border-radius: 10px;
}
#titulo2 {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}
.faixa {
    width: 100px;
    height: 5px;
    background-color: black;
}
.faixa1 {
    float: right;
    width: 100px;
    height: 5px;
    background-color: black;
}
#text_tit2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.caixa_prin img{
    width: 100%;
    height: 600px;
    margin-top: 7%;
}
.caixa2{
    margin-top: 46%;
    margin-left: 16%;
    margin-right: 16%;
    background-color: white;
    width: 68%;
    height: 900px;
    position: absolute;
    border-color: rgb(250, 186, 68);
}
.margem{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.grafico img{
    width: 150px;
    margin-left: 15%;
}
#tt_gra{
    margin-left: 18%;
}
#tt1_gra{
    margin-left: 13%;
}
.equipe img{
    float: right;
    width: 150px;
    margin-right: 15%;
    margin-top: -22%;
}
#tt_equipe{
    float: right;
    margin-right: 19%;
    margin-top: -7%;
}
#tt1_equipe{
    float: right;
    margin-top: -3%;
    margin-right: 10%;
}
.nuvem img{
    margin-top: 20%;
    width: 150px;
    margin-left: 15%;
}
#tt_nuvem{
    margin-left: 13%;
}
#tt1_nuvem{
    float: left;
    margin-left: 13%;
}
#aaa{
    float: left;
    margin-left: -28%;
}
.seg img{
    float: right;
    width: 150px;
    margin-right: 15%;
    margin-top: -22%;
}
#tt_seg{
    float: right;
    margin-right: 17%;
    margin-top: -7%;
}
#tt1_seg{
    float: right;
    margin-top: -3%;
    margin-right: 6%;
}
.login{
    margin-top: -8%;
    background-color:rgb(250, 186, 68);
    width: 100%;
    height: 400px;
}
#tt-login{
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top: 4%;
}
#tt1-login{
    font-size: 20px;
    color: black;
    text-align: center;
}
#inp_login{
    margin-left: 40%;
    margin-top: 3%;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    opacity: 0.8;
}
#login_entrar{
    margin-left: 20px;
    height: 55px;
    width: 100px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(250, 186, 68);
    opacity: 0.8;
    color: black;
    font-size: 20px;
}
#tt_fot{
    padding-top: 3%;
}
footer{
    bottom: 0;
    background-color:white;
    color: gray;
    width: 100%;
    height: 300px;    
    text-align: center;
    line-height: 50px;  
}
.social{
    margin-top: 5%;
    width: 50px;
    height: 30px;
} 

.divdoform{
    background-color: white;
    width: 700px;
    height: 800px;
    float: left;
    margin-top: 5%;
    margin-left: 21%;
    color: black;
    border-radius: 20px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 2px 2px 4px black; 
    font-size: 24px;
} 

.btnsup{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(250, 186, 68);
    text-decoration: none;
    padding-top: 17px;
}
.but_env{
    margin-left: 18px;
    height: 55px;
    width: 100px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(250, 186, 68);
    opacity: 0.8;
    color: black;
    font-size: 20px;
}
#onda{
    padding-top: 90%;
}